{% extends './base.html.twig' %}
{% block title %} Home!{% endblock %}

 {% block banner %}
     <!-- Banner -->
     <div id="banner">
         <h2> Dispositif d'aide à la recherche <br> Stage de découverte des 3èmes </h2>
     </div>
 {% endblock %}
{% block body %}
    <!-- Main Wrapper -->
    <div id="main-wrapper">
        <div class="wrapper style2">
            <div class="inner">
                <!-- Feature 2 -->
                <section class="container box feature2">
                    <div class="row">
                        <div class="6u 12u(mobile)">
                            <section>

                            </section>
                        </div>
                        <div class="6u 12u(mobile)">
                            <section>


                            </section>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>




{% endblock %}