{% extends 'base.html.twig' %}

{% block title %}Login!{% endblock %}
{% block banner %}   <!-- Banner -->
    <div id="banner">
        <h2> Login </h2>
        <a href={{ path('login', {'id': 1}) }}> <button  class="button big icon fa-check-circle"> Elève </button> </a>
        <a href={{ path('login', {'id': 2}) }}><button  class="button big icon fa-check-circle"> Prof </button></a>
    </div>
{% endblock %}
{% block navbar %}

{% endblock %}
{% block body %}
    <div id="main-wrapper">
        <div class="wrapper style2">
            <div class="inner">
                <!-- Feature 2 -->
                <section class="container box feature2">
                    <div class="row">

                    </div>
                </section>
            </div>
        </div>
    </div>

{% endblock %}

