{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}
{% block banner %}   <!-- Banner -->
    <div id="banner">
        <h2> J'ai un stage </h2>
    </div>
{% endblock %}
{% block body %}
    <div id="main-wrapper">
        <div class="wrapper style2">
            <div class="inner">
                <!-- Feature 2 -->
                <section class="container box feature2">

                </section>
            </div>
        </div>
    </div>

{% endblock %}

